.navbar-brand {
    text-indent: -999em;
    background-image: url(/app/images/logo_integrity.png);
    width: 70px;
    background-size: 80px;
}

[cam-widget-header] {
    border-bottom-color: #f14a0e;
}

.btn-primary {
    color: #fff;
    background-color: #f14a0e;
    border-color: #f14a0e;
}

.btn-danger {
    color: #fff;
    background-color: #f14a0e;
    border-color: #f14a0e;
}

/*hide notification.message in error*/
.alert strong.ng-scope {
    visibility: hidden;
}

.alert span.message {
    display: none;
}