<div class="row">
    <div class="col-xs-6 form-group">
        <label for="id">Номер заявки</label>
        <input readonly class="form-control" id="id" ng-model="techorder.id">
    </div>
    <div class="col-xs-6 form-group">
        <label for="owner">Ініціатор</label>
        <input readonly class="form-control" id="owner" ng-model="techorder.owner.name">
    </div>
    <div class="col-xs-6 form-group">
        <label for="dep">Департамент</label>
        <input readonly class="form-control" id="dep" ng-model="techorder.owner.department">
    </div>
    <div class="col-xs-6 form-group">
        <label for="depManager">Керівник департаменту</label>
        <input readonly class="form-control" id="depManager" ng-model="techorder.owner.departmentManager">
    </div>
</div>